:root {
    /* colors */
    --color-primary: #dc143c;
    --color-primary-dark: #a70f2e;
    --color-secondary:#576EE6;
    /* --color-secondary:#2675CF; */
    
    --color-white: #fff;
    --color-black: #000;
    --color-gray-primary: #2c3e50;
    --color-gray-light-xs: #eee;
    --color-gray-light: #ddd;
    --color-gray-medium: #aaa;
    --color-gray-dark: #777;

    /* margins/paddings */
    --margin-nav-link: 2.5rem;

    --padding-main: 3rem;
    --padding-footer: 1.7rem 3rem;
    --padding-main-admin-nav-link: 1.4rem 3rem;
    --padding-element: 2rem;
    --padding-element-s: 0.8rem 1.2rem;
    --padding-element-xs: 1.2rem;

    --font-size-main: 1.4rem;
    --font-size-nav: 1.6rem;
    --font-size-home-h1: 7rem;

    --transition-basic: all 0.3s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-gray-primary);
    font-size: var(--font-size-main);
    min-height: 100vh;
}

#home, #destinations, #single-destination {
    padding: var(--padding-main);
}

#destinations,
#single-destination,
#admin, #not-found {
    min-height: calc(100vh - 5.9rem - 9.6rem);
}
/* --------------------------------------------------------------- */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: var(--transition-basic);
}
ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    margin-bottom: 4rem;
    color: var(--color-primary);
    text-align: center;
}

.btn {
    border: none;
    border-radius: 2.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    color: var(--color-white);
    font-weight: bold;
    transition: var(--transition-basic);
}

.btn-xs {
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.btn.primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: .2rem solid var(--color-primary);
}

.btn.primary:hover, .btn.primary:focus, .btn.tertiary:hover, .btn.tertiary:focus {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    border: .2rem solid var(--color-primary-dark);
}
.btn.secondary {
    background-color: transparent;
    border: .2rem solid var(--color-primary);
    color: var(--color-primary);
}

.btn.tertiary {
    background-color: transparent;
    border: .2rem solid var(--color-gray-medium);
    color: var(--color-gray-medium);
}

.btn.secondary:hover, .btn.secondary:focus {
    color: var(--color-white);
    background-color:var(--color-primary);
}

/* --------------------------------------------------------------- */

.add-destination-form {
    min-width: 70vw;
}

.add-destination-form .grid-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.add-destination-form .grid-group:first-of-type {
    margin-top: 2rem;
}

label,
input,
select,
textarea {
    width: 100%;
    font-size: 1.2rem;
}

label {
    color: var(--color-gray-primary);
    font-weight: bold;
}

input,
select,
textarea {
    padding: var(--padding-element-s);
}

input,
select,
textarea {
    margin-bottom: 1.4rem;
    border: none;
    border-bottom: .15rem solid var(--color-gray-light);
    box-shadow: none;
    transition: var(--transition-basic);
}

input:focus,
select:focus,
textarea:focus {
    border-bottom: .15rem solid var(--color-primary);
    outline: none;
}

.add-destination-form {
    background-color: var(--color-white);
    padding: var(--padding-main);
    border-radius: 0.3rem;
    margin-top: -10rem;
}

.button-center {
    text-align: center;
    margin-top: 1.3rem;
}

.modal-close-button {
    display: flex;
    justify-content: right;
}

.close-btn {
    width: 3rem;
    cursor: pointer;
    color: var(--color-gray-medium);
    transition: var(--transition-basic);
}

.close-btn:hover {
    color: var(--color-primary);
}